.hero {
    display: grid;
    grid-template-columns: 150fr 390fr 142fr 837fr 100fr;
    grid-template-rows: 1fr;
    place-content: center;
    align-items: center;
    height: 400px;
}

.per-day {
    grid-column-start: 2;
    grid-column-end: 3;

}

.per-hour {
    display: flex;
    justify-content: space-around;
    grid-column-start: 4;
    grid-column-end: 5;
}